In [14]:
import mysql.connector
import pandas as pd

In [15]:
# load the csv file 
df = pd.read_csv("Telco_customer_churn.csv")
df.head

<bound method NDFrame.head of       CustomerID  Count        Country       State          City  Zip Code  \
0     3668-QPYBK      1  United States  California   Los Angeles     90003
1     9237-HQITU      1  United States  California   Los Angeles     90005
2     9305-CDSKC      1  United States  California   Los Angeles     90006
3     7892-POOKP      1  United States  California   Los Angeles     90010
4     0280-XJGEX      1  United States  California   Los Angeles     90015
...          ...    ...            ...         ...           ...       ...
7038  2569-WGERO      1  United States  California       Landers     92285
7039  6840-RESVB      1  United States  California      Adelanto     92301
7040  2234-XADUH      1  United States  California         Amboy     92304
7041  4801-JZAZL      1  United States  California  Angelus Oaks     92305
7042  3186-AJIEK      1  United States  California  Apple Valley     92308

                    Lat Long   Latitude   Longitude  Gender  ...  \
0     33.964131, -118.272783  33.964131 -118.272783    Male  ...
1      34.059281, -118.30742  34.059281 -118.307420  Female  ...
2     34.048013, -118.293953  34.048013 -118.293953  Female  ...
3     34.062125, -118.315709  34.062125 -118.315709  Female  ...
4     34.039224, -118.266293  34.039224 -118.266293    Male  ...
...                      ...        ...         ...     ...  ...
7038  34.341737, -116.539416  34.341737 -116.539416  Female  ...
7039  34.667815, -117.536183  34.667815 -117.536183    Male  ...
7040  34.559882, -115.637164  34.559882 -115.637164  Female  ...
7041     34.1678, -116.86433  34.167800 -116.864330  Female  ...
7042  34.424926, -117.184503  34.424926 -117.184503    Male  ...

            Contract Paperless Billing             Payment Method  \
0     Month-to-month               Yes               Mailed check
1     Month-to-month               Yes           Electronic check
2     Month-to-month               Yes           Electronic check
3     Month-to-month               Yes           Electronic check
4     Month-to-month               Yes  Bank transfer (automatic)
...              ...               ...                        ...
7038        Two year               Yes  Bank transfer (automatic)
7039        One year               Yes               Mailed check
7040        One year               Yes    Credit card (automatic)
7041  Month-to-month               Yes           Electronic check
7042        Two year               Yes  Bank transfer (automatic)

      Monthly Charges Total Charges Churn Label Churn Value Churn Score  CLTV  \
0               53.85        108.15         Yes           1          86  3239
1               70.70        151.65         Yes           1          67  2701
2               99.65         820.5         Yes           1          86  5372
3              104.80       3046.05         Yes           1          84  5003
4              103.70        5036.3         Yes           1          89  5340
...               ...           ...         ...         ...         ...   ...
7038            21.15        1419.4          No           0          45  5306
7039            84.80        1990.5          No           0          59  2140
7040           103.20        7362.9          No           0          71  5560
7041            29.60        346.45          No           0          59  2793
7042           105.65        6844.5          No           0          38  5097

                       Churn Reason
0      Competitor made better offer
1                             Moved
2                             Moved
3                             Moved
4     Competitor had better devices
...                             ...
7038                            NaN
7039                            NaN
7040                            NaN
7041                            NaN
7042                            NaN

[7043 rows x 33 columns]>

In [20]:
# connect to my sql 
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sid_512016",
    database="customer_churn1"
)
cursor = conn.cursor()

In [21]:
# Replace empty Total_Charges values with 0.0
df['Total Charges'] = df['Total Charges'].replace(' ', '0').astype(float)

In [22]:
# insert data 
for _, row in df.iterrows():
    query = """INSERT INTO customers1 (CustomerID, Count, Country, State, City, Zip_Code, Lat_Long, 
               Latitude, Longitude, Gender, Senior_Citizen, Partner, Dependents, Tenure_Months, 
               Phone_Service, Multiple_Lines, Internet_Service, Online_Security, Online_Backup, 
               Device_Protection, Tech_Support, Streaming_TV, Streaming_Movies, Contract, 
               Paperless_Billing, Payment_Method, Monthly_Charges, Total_Charges, Churn_Label, 
               Churn_Value, Churn_Score, CLTV, Churn_Reason) 
               VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    
    values = tuple(row.tolist())
    cursor.execute(query, values)

In [23]:
# Commit and close connection
conn.commit()
conn.close()