In [4]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [6]:
# Create database connection using SQLAlchemy
engine = create_engine("mysql+pymysql://root:sid_512016@localhost/customer_churn1")

# Load data using SQLAlchemy
query = "SELECT * FROM customers1"
df = pd.read_sql(query, engine)

In [7]:
# Display info
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip_Code           7043 non-null   object
 6   Lat_Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior_Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure_Months      7043 non-null   int64
 14  Phone_Service      7043 non-null   object
 15  Multiple_Lines     7043 non-null   object
 16  Internet_Service   7043 non-null   object
 17  Online_Security    7043 non-null   object
 18  Online_Backup      7043 non-null   object
 19  Device_Protection  7043 non-null   object
 20  Tech_Support       7043 non-null   object
 21  Streaming_TV       7043 non-null   object
 22  Streaming_Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless_Billing  7043 non-null   object
 25  Payment_Method     7043 non-null   object
 26  Monthly_Charges    7043 non-null   float64
 27  Total_Charges      7043 non-null   float64
 28  Churn_Label        7043 non-null   object
 29  Churn_Value        7043 non-null   int64
 30  Churn_Score        7043 non-null   int64
 31  CLTV               7043 non-null   float64
 32  Churn_Reason       1869 non-null   object
dtypes: float64(5), int64(4), object(24)
memory usage: 1.8+ MB
None
   CustomerID  Count        Country       State          City Zip_Code  \
0  0002-ORFBO      1  United States  California  Frazier Park    93225
1  0003-MKNFE      1  United States  California      Glendale    91206
2  0004-TLHLJ      1  United States  California    Costa Mesa    92627
3  0011-IGKFF      1  United States  California      Martinez    94553
4  0013-EXCHZ      1  United States  California     Camarillo    93010

                 Lat_Long   Latitude   Longitude  Gender  ...        Contract  \
0  34.827662, -118.999073  34.827662 -118.999073  Female  ...        One year
1  34.162515, -118.203869  34.162515 -118.203869    Male  ...  Month-to-month
2  33.645672, -117.922613  33.645672 -117.922613    Male  ...  Month-to-month
3  38.014457, -122.115432  38.014457 -122.115432    Male  ...  Month-to-month
4  34.227846, -119.079903  34.227846 -119.079903  Female  ...  Month-to-month

  Paperless_Billing    Payment_Method  Monthly_Charges Total_Charges  \
0               Yes      Mailed check             65.6        593.30
1                No      Mailed check             59.9        542.40
2               Yes  Electronic check             73.9        280.85
3               Yes  Electronic check             98.0       1237.85
4               Yes      Mailed check             83.9        267.40

  Churn_Label Churn_Value Churn_Score    CLTV             Churn_Reason
0          No           0          65  2205.0                     None
1          No           0          66  5414.0                     None
2         Yes           1          71  4479.0           Price too high
3         Yes           1          99  3714.0  Product dissatisfaction
4         Yes           1          68  3464.0      Network reliability

[5 rows x 33 columns]

In [8]:
print(df.isnull().sum())

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip_Code                0
Lat_Long                0
Latitude                0
Longitude               0
Gender                  0
Senior_Citizen          0
Partner                 0
Dependents              0
Tenure_Months           0
Phone_Service           0
Multiple_Lines          0
Internet_Service        0
Online_Security         0
Online_Backup           0
Device_Protection       0
Tech_Support            0
Streaming_TV            0
Streaming_Movies        0
Contract                0
Paperless_Billing       0
Payment_Method          0
Monthly_Charges         0
Total_Charges           0
Churn_Label             0
Churn_Value             0
Churn_Score             0
CLTV                    0
Churn_Reason         5174
dtype: int64

In [10]:
# df['Churn_Reason'].fillna("Unknown", inplace=True)
df = df.assign(Churn_Reason=df['Churn_Reason'].fillna("Unknown"))

In [12]:
# Convert Total_Charges from float to numeric (ensure no issues)
df['Total_Charges'] = pd.to_numeric(df['Total_Charges'], errors='coerce')

# Convert categorical numeric fields to integers
df['Churn_Value'] = df['Churn_Value'].astype(int)
df['Churn_Score'] = df['Churn_Score'].astype(int)
df['CLTV'] = df['CLTV'].astype(float)

In [13]:
# Check Unique Values for Categorical Columns
for col in df.select_dtypes(include=['object']).columns:
    print(f"{col}: {df[col].unique()}")

CustomerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Country: ['United States']
State: ['California']
City: ['Frazier Park' 'Glendale' 'Costa Mesa' ... 'Burson' 'Carpinteria'
 'Meadow Valley']
Zip_Code: ['93225' '91206' '92627' ... '93908' '93013' '95956']
Lat_Long: ['34.827662, -118.999073' '34.162515, -118.203869'
 '33.645672, -117.922613' ... '36.624338, -121.615669'
 '34.441398, -119.513163' '39.937017, -121.058043']
Gender: ['Female' 'Male']
Senior_Citizen: ['No' 'Yes']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
Phone_Service: ['Yes' 'No']
Multiple_Lines: ['No' 'Yes' 'No phone service']
Internet_Service: ['DSL' 'Fiber optic' 'No']
Online_Security: ['No' 'Yes' 'No internet service']
Online_Backup: ['Yes' 'No' 'No internet service']
Device_Protection: ['No' 'Yes' 'No internet service']
Tech_Support: ['Yes' 'No' 'No internet service']
Streaming_TV: ['Yes' 'No' 'No internet service']
Streaming_Movies: ['No' 'Yes' 'No internet service']
Contract: ['One year' 'Month-to-month' 'Two year']
Paperless_Billing: ['Yes' 'No']
Payment_Method: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Churn_Label: ['No' 'Yes']
Churn_Reason: ['Unknown' 'Price too high' 'Product dissatisfaction'
 'Network reliability' 'Limited range of services'
 'Competitor made better offer' "Don't know"
 'Competitor had better devices' 'Attitude of service provider'
 'Attitude of support person' 'Competitor offered higher download speeds'
 'Competitor offered more data' 'Lack of affordable download/upload speed'
 'Extra data charges' 'Deceased' 'Moved' 'Lack of self-service on Website'
 'Service dissatisfaction' 'Long distance charges'
 'Poor expertise of online support' 'Poor expertise of phone support']

In [14]:
df['Gender'] = df['Gender'].str.strip().str.lower()
df['Churn_Label'] = df['Churn_Label'].str.strip().str.lower()
df['Churn_Reason'] = df['Churn_Reason'].str.strip().str.lower()

In [15]:
Q1 = df['Monthly_Charges'].quantile(0.25)
Q3 = df['Monthly_Charges'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers
df = df[(df['Monthly_Charges'] >= lower_bound) & (df['Monthly_Charges'] <= upper_bound)]

In [16]:
# Drop Unnecessary Columns

df.drop(columns=['Lat_Long', 'Zip_Code', 'Count'], inplace=True)

In [17]:
df.head(5)

,CustomerID,Country,State,City,Latitude,Longitude,Gender,Senior_Citizen,Partner,Dependents,...,Contract,Paperless_Billing,Payment_Method,Monthly_Charges,Total_Charges,Churn_Label,Churn_Value,Churn_Score,CLTV,Churn_Reason
0,0002-ORFBO,United States,California,Frazier Park,34.827662,-118.999073,female,No,Yes,No,...,One year,Yes,Mailed check,65.6,593.30,no,0,65,2205.0,unknown
1,0003-MKNFE,United States,California,Glendale,34.162515,-118.203869,male,No,No,No,...,Month-to-month,No,Mailed check,59.9,542.40,no,0,66,5414.0,unknown
2,0004-TLHLJ,United States,California,Costa Mesa,33.645672,-117.922613,male,No,No,No,...,Month-to-month,Yes,Electronic check,73.9,280.85,yes,1,71,4479.0,price too high
3,0011-IGKFF,United States,California,Martinez,38.014457,-122.115432,male,Yes,Yes,No,...,Month-to-month,Yes,Electronic check,98.0,1237.85,yes,1,99,3714.0,product dissatisfaction
4,0013-EXCHZ,United States,California,Camarillo,34.227846,-119.079903,female,Yes,Yes,No,...,Month-to-month,Yes,Mailed check,83.9,267.40,yes,1,68,3464.0,network reliability

In [18]:
# save cleaned data 
df.to_csv("cleaned_customer_churn.csv", index=False)